    @font-face {
        font-family: 'Proxima Nova Light';
        src: url('../fonts/ProximaNova-Light.eot');
        src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Proxima Nova Regular';
        src: url('../fonts/ProximaNova-Regular.eot');
        src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Proxima Nova Bold';
        src: url('../fonts/ProximaNova-Bold.eot');
        src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    header {
        font-family: 'Proxima Nova';
        font-size: 30px;
    }
    
    @font-face {
        font-family: 'icomoon';
        src: url('../fonts/icomoon.eot?4je1wb');
        src: url('../fonts/icomoon.eot?4je1wb#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?4je1wb') format('truetype'), url('../fonts/icomoon.woff?4je1wb') format('woff'), url('..fonts/icomoon.svg?4je1wb#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    [data-icon],
    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-list:before {
        content: "\e900";
    }
    
    .icon-plus:before {
        content: "\f067";
    }
    
    .icon-question:before {
        content: "\f128";
    }
    
    .icon-search:before {
        content: "\f002";
    }
    
    .icon-star:before {
        content: "\f005";
    }
    
    .icon-cog:before {
        content: "\f013";
    }
    
    .icon-gear:before {
        content: "\f013";
    }
    
    .icon-clock-o:before {
        content: "\f017";
    }
    
    .icon-book:before {
        content: "\f02d";
    }
    
    .icon-shopping-cart:before {
        content: "\f07a";
    }
    
    .icon-angle-left:before {
        content: "\f104";
    }
    
    .icon-angle-right:before {
        content: "\f105";
    }
    
    .icon-angle-up:before {
        content: "\f106";
    }
    
    .icon-angle-down:before {
        content: "\f107";
    }
    
    .icon-question-circle-o:before {
        content: "\f29c";
    }
    
    .icon-earth:before {
        content: "\e901";
    }
    
    .icon-cheveron-outline-down:before {
        content: "\e902";
    }
    
    .icon-cheveron-outline-up:before {
        content: "\e903";
    }