<div class="browse-books">
    <h3>Browse Available Books</h3>
    <div class="filters-wrap">
        <a href="#" class="filter">All Books</a>
        <a href="#" class="filter">Most Recent</a>
        <a href="#" class="filter">Most Popular</a>
        <a href="#" class="filter">Free</a>


        <form action="C:\Users\Роман\Documents\Githup\pt" class="search" method="post">
            <input type="text" placeholder="Enter Keywords">
            <input id="search" type="submit"><span class="icon-search"></span>
        </form>
    </div>



</div>