<div class="leftcol">

    <div class="addbook">
        <a href="#" class="button-add"><span class="icon-plus"></span><span>Add a Book</span></a>
    </div>
    <div class="left-menu">
        <ul>
            <li>
                <a class="menu-btn" href="#"><span class="icon-book">
                    
                </span>Now reading</a>
            </li>
            <li>
                <a class="menu-btn" href="#"><span class="icon-earth">
                
                </span>Browse</a>
            </li>
            <li>
                <a class="menu-btn" href="#"><span class="icon-shopping-cart">
                
                </span>Buy Books</a>
            </li>
            <li>
                <a class="menu-btn" href="#"><span class="icon-star">
                
                </span>Favourite Books</a>
            </li>
            <li>
                <a class="menu-btn" href="#"><span class="icon-list">
                
                </span>Wishlist</a>
            </li>
            <li>
                <a class="menu-btn" href="#"><span class="icon-clock-o">
                
                </span>History</a>
            </li>
        </ul>
    </div>
    <div class="categories">
        <ul class="marker">
            <li>
                <a href="#">Must Read Titles</a>
            </li>
            <li>
                <a href="#">Best Of List</a>
            </li>
            <li>
                <a href="#">Classic Novels</a>
            </li>
            <li>
                <a href="#">Non Fiction</a>
            </li>
        </ul>

    </div>
    <div class="history-list">
        <div><span class="icon-clock-o">
        
        </span>
            <p>You added <a href="#">Fight Club</a> by <a href="#">Chuck Palahniuk</a> to your <a href="#">Must Read Titles.</a>

                <span>24 minutes ago</span></p>
        </div>
        <div><span class="icon-clock-o">
    
        </span>
            <p>You added <a href="#">Fight Club</a> by <a href="#">Chuck Palahniuk</a> to your <a href="#">Must Read Titles.</a>

                <span>48 minutes ago</span></p>
        </div>
    </div>






</div>