@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4je1wb');
  src:  url('fonts/icomoon.eot?4je1wb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4je1wb') format('truetype'),
    url('fonts/icomoon.woff?4je1wb') format('woff'),
    url('fonts/icomoon.svg?4je1wb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\f067";
}
.icon-question:before {
  content: "\f128";
}
.icon-search:before {
  content: "\f002";
}
.icon-star:before {
  content: "\f005";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-book:before {
  content: "\f02d";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-earth:before {
  content: "\e901";
}
.icon-cheveron-outline-down:before {
  content: "\e902";
}
.icon-cheveron-outline-up:before {
  content: "\e903";
}
